html {
    font-size: 70%;
    box-sizing: border-box;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 24%, rgba
    (252,70,107,0.8950747535342262) 100%);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.calculator {
    border: 1.2px solid darkslategray;
    border-radius: 7px;
    
}
.calculator_screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px 7px 0px 0px;
}
.operator {
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .5));
    background-color: lightgray;
    border-color:rgb(251, 251, 251);
    border-radius: 10px;
}
.all-clear {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 255, 255);
    color: #fff;
}
.all-clear:hover {
    background-color: rgb(255, 0, 0);
}
.equal-sign {
    background-color: blue;
    border-color: rgb(255, 255, 255);
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}
.equal-sign:hover {
    background-color: darkblue;
}
.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1.5rem;
}

/*Drop down menu */

.dropdown {
    z-index: 4;
}
#dropdownMenuLink {
    color: black;
    background-color: #92A8D1;
    font-weight: 600;
    font-size: 1.6rem;
    z-index: 4;
}

.dropdown-item {
    z-index: 4;
    font-size: 15px;
}

/* This is the styling for smartphones */

@media screen and (max-width: 500px)  {
    .calculator-keys {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
        font-size: 5rem;
    }
    .calculator-keys {
        background-color: #92A8D1;
    }
    #dropdownMenuLink {
        background-color: #92A8D1; 
    }

}